@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.quickViewCards {
  .heading {
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    width: 100%;
  }
}

.cardsWrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 20px;

  .cardContainer {
    padding: 20px;
    &:hover {
      background: rgba(255, 255, 255, 0.12);
      border-radius: 20px;
    }
    .cardIcon {
      margin-bottom: 32px;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .cardTitle {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 16px;
      font-weight: 500;
    }

    .cardDescription {
      line-height: 22.4px;
      font-size: 14px;
    }
  }
}

@include for-phone {
  .quickViewCards {
    .quickViewCardsSection {
      padding: $slice-padding-phone;
    }
  }
  .cardsWrapper {
    grid-template-columns: 1fr;
    margin-top: 4 0px;
    .cardContainer {
      padding: 10px 0px;
    }
  }
}

@include from-tablet {
  .quickViewCards {
    .quickViewCardsSection {
      max-width: $website-desktop-maxwidth;
      padding: 112px 76px;
      margin: 0 auto;
      .heading {
        width: 50%;
        padding-left: 20px;
      }
    }
  }
}

@include for-tablet {
  .cardsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
